:root {
  --header-text-color: #212121;
  --accent-text-color: #2196f3;
  --header-tel-color: #757575;
  --hero-text-color: #ffffff;
  --btn-color: #2196f3;
  --title-color: #212121;
  --footer-tel-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
}
